
@font-face {
    font-family: "Jost-Bold";
    src: url("./Jost-Bold.ttf");
}

@font-face {
    font-family: "Jost-Medium";
    src: url("./static/Jost-Medium.ttf");
}

@font-face {
    font-family: "Jost-Regular";
    src: url(static/Jost-Regular.ttf);
}

@font-face {
    font-family: "Jost-Light";
    src: url(static/Jost-Light.ttf);
}

* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
} 

body {
    background: #37517E;
}


a {
    color: #37517E;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transition: .5s;
    
    
}

h1 {
    font-family: "Jost-Bold";
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(241, 246, 246);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}


.main-menu > li {
    float: left;
    padding: 10px;
    color: rgb(138, 37, 37);
    position: relative;
    list-style-type: none;
}
.main-menu li a {
    font-size: 15px;
    font-family: "Jost-Regular";
}

.main-menu li a:hover{
    background-color: #37517E;
    color: white;
    border-radius: 50px;
}

.heading{
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
}

.trigger {
    display: none;
}



.home {
    display: flex;
    align-items: center;
    padding: 94px 94px 94px 94px;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

.title {
    max-width: 900px;
}

.title h1 {
    font-family: "jost-Bold";
    font-size: 70px;
    color: #ffffff;
    line-height: 1.2;

}
.title p {
    font-family: "Jost-Regular";
    font-size: 19px;
    margin-bottom: 50px;
    margin-top: 20px;
    color: #ffffff;
}

.btn {
    background-color: aqua;
    border-radius: 50px;
    padding: 9px 28px 12px 28px;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    border: 2px solid aqua;
}

.btn-subs {
    background-color: aqua;
    border-radius: 50px;
    margin-left: -49px;
    padding: 7px;
}

.btn-subs:hover{
    color: rgb(254, 254, 255);
    background: transparent;
    color: aqua;
    border: 2px solid aqua;
}


.btn-video {
    background-color: #37517E;
    border-radius: 50px;
    padding: 9px 28px 12px 28px;
    text-decoration: none;
    color: #ffffff;
    align-items: center;
    border: 2px solid #37517E;
}

.btn:hover {
    color: rgb(254, 254, 255);
    background: transparent;
}

.home-img img {
    position: relative;
    width: 100%;
    height: 100%;

}

.join {
    width: 100%;
    min-height: 40vh;
    padding-top: 120px;
    background: #F3F5FA;

}
.join h2 {
    color: #37517E;
    font-family: "Jost-Medium";
    text-align: center;
    font-size: 40px;
    
    
}

.join p {

    text-align: center;
    padding-top: 5px;
    font-family: "Jost-Regular";
    font-size: 18px;
}

.submit-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

form input{
    height: 30px;
    width: 350px;
    border: none;
    outline: none;
    border-radius: 50px;
    text-align: center;
    font-size: 15px;
}

form button {
    background: aqua;
    border: none;
    outline: none;
    height: 30px;
    width: 100px;
    border-radius: 50px;
    margin-left: -50px;
    font-size: 15px;
}

form button:hover {
    color: aqua;
    background: transparent;
    border: 2px solid aqua;
}
.footer {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background: #F3F5FA;
    display: grid;
    grid-template-columns: repeat(auto-fit, minimax(100px,auto));
    gap: 3.5rem;

}



.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-content {
    width: 25%;
    padding: 0 15px;
}

.footer-content h4 {
    font-size: 18px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 20px;
    position: relative;
    font-family: "Jost-Medium";
    color: #37517E;
}

li {
    list-style: none;
    margin-bottom: 10px;
    font-family: "Jost-Light";
    color: #37517E;
    font-size: 16px;
}

.footer-content li a{
    text-decoration: none;

}

p, h2 {
    font-family: "Jost-Regular";
    color: #37517E;
}

footer {
    padding: 20px;

}



footer p {
    font-family: "Jost-Light";
    color: #ffffff;
    padding-left: 94px;
}


@media only screen and (max-width: 700px) {
    header .menu li {
        font-size: 20px;
    }
}

@media screen and (max-width: 475px) {
    header .menu li {
        font-size: 20px;
    }
}


@media (max-width: 720px) {
    .main-menu{
        display:none;
        position: absolute;
        top: 50px;
        width: 100%;
        right: 0;
        opacity: 1;
        animation: anim .5s reverse;
    }



    @keyframes anim {
        0%{
            opacity: 0;
        }

        100%{
            opacity: 1;
        }
    }
    .main-menu > li {
        float: none;
    }

    .trigger{
        display: block;
    }

    .trigger > i {
        font-size: 30px;
        color: white;
        padding: 10px;
    }

    .title h1 {
        font-size: 40px !important;
    }

}
